* {
    /* border: 1px solid red !important; */
 }
 


.btn {
    margin:1px;
}

#inputNewHobby{
  
    width: 25%;
}

#form {
    float: right;
}

.gif {
    margin: 0,.5em, 0, .5em;
    /* float: right; */
}

.wrapper {
    width: 15em;
    float: left;
}

.container {
    width:100%;
}

.row {
    width: 100%;
}